<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Page</title>
</head>
<body>
  {% extends 'base.html' %}
  {% block content %}
  
  <h1>About Snake by EMP</h1>
  <hr />
  <p>Snake by EMP is a browser based game create by Eric Pettaway usimg Python, Pygame, and Django.  This project was created as my fourth project in my GA flex course for software engineering.  Thank you for playing and I hope you enjoy!</p>
  
  {% endblock %}
    <footer>All Rights Reserved, &copy; 2022 Cat Collector</footer>
</body>
</html>