<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>How To Play</title>
</head>
<body>
  {% extends 'base.html' %}
  {% block content %}
  
  <h1>How to Play</h1>
  <hr />
  <p>Use the arrows keys to navigate the snake.</p>
  <p>Eat as many pieces of fruits as you can.</p>
  <p>The game ends once you snake eats itself!</p>
  <p>Press "return" to restart game or "esc" to exit game.</p>
  <p>Go for the highscore!!!</p>
  
  {% endblock %}
    <footer>All Rights Reserved, &copy; 2022 Cat Collector</footer>
</body>
</html>