<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Download Game</title>
</head>
<body>
  {% extends 'base.html' %}
  {% block content %}
  
  <h1>Download Game Here</h1>
  <hr />
  <p>Until I figure out how to incoporate the game into the browser, users may need to download the game.</p>
  
  {% endblock %}
    <footer>All Rights Reserved, &copy; 2022 Cat Collector</footer>
</body>
</html>